.feature h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 24pt;
    font-family: 'Times New Roman', Times, serif;
}

.linea{
    height: 30px;
    width: 500px;
}

.feature_lineas{
    display: flex;
    justify-content: space-around;
}


.feature{
    background: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.featured_on {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature_runway{
    background: black;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 22pt;
    font-family: 'Oswald', sans-serif;
    font-weight: 50;
}

.feature_cq {
    font-family: 'Rye', cursive;
    font-size: 40pt;
}

.feature_logue {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15pt;
    text-align: center;
    line-height: 30px;

}

.feature_fashion{
    display: flex;
    font-family: 'Abril Fatface', cursive;
    font-size: 12pt;
    line-height: 24px;
}

.feature_fashion img {
    height: 75px;
    margin-right: 10px;
}

@media screen and (max-width: 410px){

    .linea{
        display: none;
    }

    .featured_on {
        flex-direction: column;
    }

    .feature_fashion{
        margin-bottom: 2rem;
    }

    .feature_cq{
        margin-bottom: 2rem;
    }

    .feature_runway{
        margin-bottom: 2rem;
    }
}