*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    padding: 50px;
}



.diseño_form h2 {
    text-align: center;
    color: black;
}

.diseño_form {
    background: #804000;
    padding: 30px 30px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px gray;
}

.correo_form {
    margin: 1rem 3rem 1rem 3rem;
    padding: 10px 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

.correo_form::placeholder {
    color: black;
}

.correo_boton {
    padding: 10px 10px;
    color: black;
    background: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;

}

.correo_boton:hover{
    background: rgb(61, 61, 61);

}







